aiofiles
asyncio
requests
urllib3
aiohttp
httpx
httpx[http2]
pillow
beautifulsoup4
dnspython
ffmpeg-python
hachoir
gitpython
heroku3
lyricsgenius
spotipy
motor
psutil
speedtest-cli
pytube
py-tgcalls
ntgcalls
python-dotenv
pyyaml
pykeyboard
gpytranslate
tgcrypto
telegraph
lexica-api
gradio_client
youtube-search
youtube-search-python
yt-dlp

git+https://github.com/KurimuzonAkuma/pyrogram@dev
git+https://github.com/Vivekkumar-IN/yt-dlp-youtube-oauth2
git+https://github.com/AsmSafone/SafoneAPI
