# Core libraries
aiofiles
asyncio
requests
urllib3
aiohttp
httpx
httpx[http2]
pillow==9.5.0
# Web scraping and parsing
beautifulsoup4
dnspython
# Media processing
ffmpeg-python
hachoir
# Version control
gitpython
# Deployment and cloud services
heroku3
# Music and lyrics
lyricsgenius
spotipy
# Database
motor
# System utilities
psutil
speedtest-cli
# YouTube and video
pytube
py-tgcalls
ntgcalls
# Environment and configuration
python-dotenv
pyyaml
pykeyboard
# Translation and image downloading
gpytranslate
bing_image_downloader
# Telegram
tgcrypto
telegraph
# GitHub repositories
git+https://github.com/KurimuzonAkuma/pyrogram@dev
git+https://github.com/yt-dlp/yt-dlp
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/joetats/youtube_search@master
# Api
git+https://github.com/AsmSafone/SafoneAPI
lexica-api