aiofiles
asyncio
requests
urllib3
aiohttp
httpx
httpx[http2]
pillow==9.5.0
beautifulsoup4
dnspython
ffmpeg-python
hachoir
gitpython
heroku3
lyricsgenius
spotipy
motor
psutil
speedtest-cli
pytube
py-tgcalls==2.0.3b2
ntgcalls
python-dotenv
pyyaml
pykeyboard
gpytranslate
bing_image_downloader
tgcrypto
telegraph
lexica-api
gradio_client

git+https://github.com/KurimuzonAkuma/pyrogram@dev
git+https://github.com/yt-dlp/yt-dlp
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/joetats/youtube_search@master
git+https://github.com/AsmSafone/SafoneAPI
